.full-hour {
    font-size: 14px;
    border-top: 1px solid rgb(212 202 202);
}

.half-hour {
    font-size: 12px;
}

.time {
    width: 240px;
    height: 60px;
}

.wrapper {
    margin-top: 15px;

    @media screen and (min-width:768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }

}

.events {
    display: flex;
    gap: 5px;
    margin-left: 40px;
}

.event {
    background-color: #E2ECF5;
    border-left: 2px solid #6E9ECF;
    font-size: 14px;
    padding: 5px;
    width: 100%;

    margin-top: -17px;
}

.invisible {
    opacity: 0;
    height: 10px;
}

.visible {
    height: 50px;
}