.full-hour {
    font-size: 14px;
    border-top: 1px solid rgb(212 202 202);
}

.half-hour {
    font-size: 12px;
}

.time {
    height: 60px;
    display: flex;
    gap: 20px;
}

.slot {
    width: 25px;
}

.wrapper {
    margin-top: 15px;

    @media screen and (min-width:768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }

}

.events {
    display: flex;
    gap: 5px;
    width: 200px;

}

.event {
    background-color: #E2ECF5;
    border-left: 2px solid #6E9ECF;
    font-size: 14px;
    padding: 5px;
    width: 100%;

    margin-top: -17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}